body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color:black;
  }
  
  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  .message {
    padding: 20px;
  }
  
  h1 {
    color:black;
  }
  
  p {
    color: #333;
  }